.custom-gradient {
  background-color: transparent;
  background-image: linear-gradient(90deg, #135180 0%, #b7d2e7 100%);
}
.homeBanner {
  width: 100%;
  height: 600px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #135180 0%, #b7d2e7 100%);
  display: flex;
}

.aboutBanner {
  width: 100%;
  height: 200px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #135180 0%, #b7d2e7 100%);
  display: flex;
}
.aboutBannerText {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 660px;
  color: white;
}

.homeBannerText {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 660px;
}
.homeBannerText h1 {
  color: white;
  font-size: 40px;
}
.homeBannerText p {
  color: white;
  font-size: 20px;
}

.homeBannerImage {
  width: 50%;
}
.homeBanner a {
  width: 180px;
  background-color: white;
  color: #135180;
  border: 1px solid #135180;
  transition-duration: 0.5s;
}

.homeBanner a:hover {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

/* responsive header */

@media screen and (min-width: 1200px) {
  .homeBannerText {
    width: 570px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .homeBannerText {
    width: 480px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 768px) {
  .homeBannerText {
    width: 360px;
  }
}

@media screen and (max-width: 768px) {
  .homeBanner {
    width: 100vw;
    height: auto;
    background-color: transparent;
    background-image: linear-gradient(90deg, #135180 0%, #b7d2e7 100%);
    flex-direction: column;
    padding-bottom: 20px;
  }

  .homeBannerText {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .homeBannerText h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
  }
  .homeBannerText p {
    color: white;
    font-size: 16px;
  }

  .homeBannerImage {
    display: none;
  }
  .nav-btn {
    margin-top: 0px !important;
  }
}

/* responsive header end */

.shortFeature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  background-color: #f9f9f9;
  padding-bottom: 80px;
}

.shortFeatureText {
  text-align: center;
  margin-bottom: 30px;
}

.shortFeatureText h2 {
  font-size: 32px;
  color: #135180;
  margin-bottom: 10px;
}

.shortFeatureText p {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.shortFeatureCards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.shortFeatureCard {
  width: 200px;
  height: 150px;
  background-color: #135180;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shortFeatureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.shortFeatureCard h3,
.shortFeatureCard h2,
.shortFeatureCard h1 {
  color: white;
}
.shortFeatureCard h3 {
  font-size: 20px;
}
.shortFeatureCard h2 {
  font-size: 24px;
}

.shortFeatureCard h1 {
  font-size: 26px;
}
.footer {
  background-color: #135180;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
}

.footer-nav {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #b7d2e7;
}

.infograph {
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.infographRow {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}

.infographImage {
  width: 25%;
  text-align: center;
}

.infographImage img {
  max-width: 100%;
  height: auto;
}

.infographText {
  width: 25%;
  padding: 20px;
}

.infographText p {
  font-size: 18px;
  color: #135180;
  line-height: 1.6;
}
.infographTitle {
  text-align: center;
  color: #135180;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 700;
}

/* responsive infograph */

@media screen and (max-width: 768px) {
  .infographRow {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .infographImage {
    width: 100%;
    margin-bottom: 20px;
  }

  .infographText {
    width: 100%;
  }
  .infographText p {
    font-size: 16px;
    color: #135180;
    line-height: 1.4;
  }
  .infographTitle {
    font-size: 24px;
  }

  .info-reversed {
    flex-direction: column-reverse;
  }
}

/* responsive infograph end */

/* Navbar Styles */
.navbar {
  position: relative;
}

nav .position-relative:hover .dropdown-menu {
  display: block !important;
}
.nav-btn {
  color: white !important;
  border: 1px solid white !important;
  height: 36px;
  width: 66px;
  background-color: transparent !important;
  border-radius: 5px !important;
  margin-top: -5px;
  position: relative;
  background: none;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

/* Two gradients stacked on top of each other */
.nav-btn::before,
.nav-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: opacity 1s ease;
}

/* First gradient */
.nav-btn::before {
  background: linear-gradient(90deg, #135180, #b7d2e7);
  opacity: 1;
  animation: fadeOut 2s infinite alternate;
}

/* Second gradient (reversed) */
.nav-btn::after {
  background: linear-gradient(90deg, #b7d2e7, #135180);
  opacity: 0;
  animation: fadeIn 2s infinite alternate;
}

.nav-btn:hover::before,
.nav-btn:hover::after {
  animation-play-state: paused;
}
/* Animate the opacities in sync */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navlogo {
  text-decoration: none;
  color: #fff;
}

.nav-logotext {
  font-size: 20px;
  line-height: 1;
  margin: 0px;
  -webkit-text-stroke: 1px #135180;
  text-stroke: 1px #135180;
}
.nav-logosubtext {
  font-size: 10px;
  text-align: end;
  line-height: 1;
  font-weight: 800;
  margin: 0px;
  -webkit-text-stroke: 1px #135180;
  text-stroke: 1px #135180;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: #135180;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  z-index: 9999;
  min-width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-menu a {
  color: #135180;
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f4f4f4;
}
.shortDesc {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 70px 20px;
  background-color: #f9f9f9;
  gap: 20px;
}

.shortDescImage {
  width: 40%;
  text-align: center;
}

.shortDescImage img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shortDescText {
  width: 50%;
  text-align: left;
}

.shortDescText h2 {
  font-size: 28px;
  color: #135180;
  margin-bottom: 15px;
}

.shortDescText p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 0px;
}
.aboutUsTextLg {
  display: none;
}

@media screen and (min-width: 1000px) {
  .aboutUsTextLg {
    display: block;
  }
}

@media screen and (max-width: 1346px) and (min-width: 1067px) {
  .shortDescText p {
    font-size: 16px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1066px) and (min-width: 801px) {
  .shortDescText p {
    font-size: 15px;
    line-height: 1.1;
  }
}

/* Responsive styles */
@media screen and (max-width: 800px) {
  .shortDesc {
    flex-direction: column;
    text-align: center;
  }

  .shortDescImage,
  .shortDescText {
    width: 100%;
  }

  .shortDescText h2 {
    font-size: 24px;
  }

  .shortDescText p {
    font-size: 16px;
  }
}
.whatWeOffer {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.whatWeOffer h2 {
  font-size: 32px;
  color: #135180;
  margin-bottom: 30px;
  font-weight: 700;
}

.offeringsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.offering {
  width: 250px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.offering:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.offering .icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #135180;
}

.offering h3 {
  font-size: 20px;
  color: #135180;
  margin-bottom: 10px;
}

.offering p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .offeringsContainer {
    flex-direction: column;
    align-items: center;
  }

  .offering {
    width: 100%;
    max-width: 300px;
  }
}

.aboutUsDetails {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px 20px;
  background-color: #f9f9f9;
  padding-top: 140px;
}

.whoWeServe,
.ourVision {
  width: 45%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  height: 300px;
}

.whoWeServe h2,
.ourVision h2 {
  font-size: 24px;
  color: #135180;
  margin-bottom: 15px;
}

.whoWeServe p,
.visionBody p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}
.visionBody {
  display: flex;
}

.visionGraphic img {
  height: 200px;
  transform: rotateY(180deg);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .aboutUsDetails {
    flex-direction: column;
    align-items: center;
  }

  .whoWeServe,
  .ourVision {
    width: 100%;
  }
}

.nav2 {
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  width: 100% !important;
  background-color: transparent;
}

.nav2con {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.carousel-image {
  height: 700px;
  width: 100%;
  object-fit: cover;
}

.slick-dots {
  bottom: 40px !important;
  padding: 0 !important;
}
.slick-dots li {
  height: 1px !important;
  width: 12px !important;
  margin: 0px 15px !important;
}
.slick-dots li button {
  background-color: #aaa !important; /* Make dots white */
  border-radius: 2px !important; /* Round the dots */
  width: 20px !important;
  height: 2px !important;
  margin: 0 15px !important;
  padding: 0px !important;
}
.slick-dots li.slick-active button {
  background-color: #fff !important; /* Active dot color */
}

.slick-dots li button:before {
  content: "" !important; /* Remove the default dot */
}
.slick-slide div div:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@media screen and (max-width: 436px) {
  .slick-dots {
    display: none !important;
  }
}
.ham2 {
  background-color: #fff !important;
  color: #000 !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav2menu {
  position: absolute;
  top: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  animation: slideDown 0.3s ease-out;
  z-index: 9999 !important;
}
@media screen and (max-width: 1036px) {
  .nav2menu {
    background-color: rgba(0, 0, 0, 0.7);
  }
}
@media screen and (max-width: 1200px) {
  .nav2menu {
    right: 20px;
  }
}
.nav2menu div {
  color: #fff;
  transition: background-color 0.3s ease;
  z-index: 9999 !important;
  position: relative;
}
.slick-arrow {
  display: none !important;
}

.homeBannerText2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  position: absolute;
  z-index: 1;
  top: 200px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.homeBannerText2 h1 {
  color: white;
  font-size: 40px;
  -webkit-text-stroke: 1px #135180;
  text-stroke: 1px #135180;
}
.homeBannerText2 p {
  color: white;
  font-size: 22px;
  font-weight: 800;
  -webkit-text-stroke: 1px #135180;
  text-stroke: 0.1px #135180;
}

.homeBannerText2 a {
  width: 180px;
  background-color: white;
  color: #135180;
  border: 1px solid #135180;
  transition-duration: 0.5s;
}
.homeBannerText2Sub {
  display: none;
}
@media screen and (max-width: 768px) {
  .homeBannerText2 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 538px) {
  .homeBannerText2 h1 {
    font-size: 30px;
  }
  .homeBannerText2 p {
    font-size: 18px;
    display: none;
  }
  .homeBannerText2Sub {
    margin-top: 20px;
    display: block !important;
  }
}
